.popup {
    display: none;
    width: 100%;
    height: 100vh;
    background: $popupBG;
    position: fixed;
    z-index: 666;
    top: 0;
    left: 0;

    &.display {
        display: block;
    }

    &>.popup_model {
        display: none;
        width: 30%;
        height: 30%;
        background: $subColor-0;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        &.display {
            display: block;
        }
    }
}