@mixin weather {
    background: #121215;

    &>.main_wrap {
        width: 95%;
        background: #3d3d3d;
        margin: 0 auto;
        padding: 2vw;

        &>.top {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
    
            .weather_logo {
                max-width: 606px;
                display: flex;
                align-items: center;
                color: #b8b8b8;
                font-size: 1.8rem;
                font-weight: bold;
                margin: 0 3vw 0 0;
    
                &>p {
                    margin: 0 0 0 1vw;
                }
            }

            &>div {
                width: 100%;
                display: flex;
                align-items: center;

                &>label {
                    width: 75%;
                    height: 5vh;
                    display: inline-block;
                    flex-shrink: 0;
                    margin: 0 2vw 0 0;
                    position: relative;

                    &>i {
                        color: #b8b8b8;
                        position: absolute;
                        top: 50%;
                        left: 1vw;
                        transform: translateY(-50%);
                    }

                    &>input {
                        width: 100%;
                        height: 100%;
                        background: #000000;
                        color: #ffffff;
                        border: none;
                        padding: 0 2.8vw;
                    }
                }

                &>button {
                    width: 100%;
                    height: 4.5vh;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    background: #a491c3;
                    white-space: nowrap;
                    border-radius: 30vw;
                    padding: 0 1vw;

                    &>i {
                        font-size: 1.185rem;
                    }
                }
            }
        }

        &>.bottom {
            width: 100%;
            display: flex;
            margin: 2vw 0 0;

            &>.sideLeft {
                width: 30%;
                flex-shrink: 0;
                margin: 0 2vw 0 0;

                &>div {
                    background: #2a2a2a;
                    border-radius: 1vw;
                    padding: 1vw;
                    margin: 0 0 1.5vw;

                    &:last-of-type {
                        background: transparent;
                        padding: 0;
                        margin: 0;
                    }

                    &>.column {
                        width: 100%;
                        display: grid;
                        grid-template-columns: repeat(2, 1fr);
                        gap: 1vw;

                        &>p {
                            grid-column-start: span 2;
                            margin: 0 0 1vw;
                        }

                        .weather-state {
                            grid-column-start: span 2;
                            padding: 0 0 1vw;
                            border-bottom: 1px solid #5f5f5f;
                            margin: 0 0 1vw;
                        }
                    }

                    &>.row {
                        margin: 0 0 1vw;

                        &:last-of-type {
                            margin: 0;
                        }
                    }

                    .fiveDays_list {
                        background: #2a2a2a;
                        border-radius: 1vw;
                        padding: 1vw;
                        margin: 1.5vw 0 0;

                        &>li {
                            display: flex;
                            align-items: center;
                            justify-content: space-around;
                            padding: 0.5vw 0;
                            margin: 0 0 1vw;

                            &:last-of-type {
                                margin: 0;
                            }

                            &>i {
                                margin: 0 0 1vw;
                            }
                        }
                    }

                    i {
                        color: #ffffff;
                    }

                    p {
                        color: #ffffff;
                    }

                    span {
                        color: #ababab;

                        &.temperature {
                            color: #ffffff;
                            font-size: 4rem;
                        }
                    }
                }
            }
           
            &>.sideRight {
                width: 100%;
                background: #2a2a2a;
                border-radius: 1vw 2vw;
                padding: 1vw;

                &>.block {
                    display: grid;
                    grid-template-columns: repeat(4, 1fr);
                    gap: 1vw;
                    padding: 1vw;
                    margin: 0 0 1.5vw;

                    &:last-of-type {
                        grid-template-columns: repeat(8, 1fr);
                        margin: 0;

                        &>p {
                            font-size: 1rem;
                            grid-column-start: span 8;
                            margin: 0 0 1vw;
                        }

                        &>.group {
                            width: 100%;
                            height: 15vh;
                            display: block;
                            background: #3e3e3e;
                            border-radius: 1vw;
                            padding: 1vw;
                            text-align: center;
                            

                            &>.weather_img {
                                width: 5vh;
                                height: 5vh;
                                margin: 1vh 0;
                            }
                        }
                    }

                    &>div {
                        width: 100%;
                        display: flex;
                        align-items: center;

                        &.wind_block {
                            grid-column-start: span 2;
                        }
                    }
                }

                i {
                    color: #ffffff;
                    font-size: 1.58rem;
                    margin: 0 1vw 0 0;
                }

                p {
                    color: #ffffff;
                    font-size: 1.188rem;
                }

                span {
                    color: #ababab;

                    &.temperature {
                        color: #ffffff;
                        font-size: 4rem;
                    }
                }
            }
        }
    }
}