:root {
    scroll-behavior: smooth;
}

body {
    font-family: "Open Sans", sans-serif;
}

a{
    color:#2E3192;
    text-decoration: none;
}

a:hover{
    color: #4154f1;
    text-decoration: none;
}

h1, h2, h3, h4, h5 ,h6{
    font-family: "Nunito", sans-serif;
    color: #4154f1;
    z-index: 99;
}

section {
    padding: 60px 0;
    overflow: hidden;
}

.section-header {
    text-align: center;
    padding-bottom: 40px;
    z-index: 99;
}

.section-header h2 {
    font-size: 13px;
    letter-spacing: 1px;
    font-weight: 700;
    margin: 0;
    color: #4154f1;
    text-transform: uppercase;
    z-index: 99;
}

.section-header p{
    margin: 10px 0 0 0;
    padding: 0;
    font-size:38px;
    line-height: 42px;
    font-weight: 700;
    color: #012970;
    z-index: 99;
}

@media (max-width: 768px) {
    .section-header p{
        font-size: 28px;
        line-height: 32px;
    }
}

.breadcrumbs {
    padding: 15px 0;
    background: #012970;
    min-height: 40px;
    margin-top: 82px;
    color: #fff;
} 



#header {
    transition:all 0.5s;
    z-index: 997;
    padding: 20px 0;
}
#header.header-scrolled {
    background: rgb(255, 255, 255);
    padding: 15px 0;
    box-shadow: 0px 2px 20px rgba(1, 41, 112, 0.1);
}

#header .logo{
    line-height: 0;
}
#header .logo img{
    max-height: 40px;
    margin-right: 6px;
}
#header a:hover{
text-decoration: none;
}

#header .logo span{
    font-size: 40px;
    font-weight: 700;
    letter-spacing: 1px;
    color:rgba(1, 22, 61, 0.9);
    font-family: 'Poiret One', cursive;
    margin-top: 3px;
}

.fixed-top {
    position:fixed;
    top:0;
    right: 0;
    left: 0;
}

*, ::after, ::before {
    box-sizing: border-box;
}

header {
    display: block;
}

.navbar{
    padding: 0;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.navbar ul{
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
    align-items: center;
}

.navbar li{
    position: relative;
}

.navbar a, .navbar a:focus {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:10px 0 10px 30px;
    font-family: "Nunito" , sans-serif ;
    font-size: 16px;
    font-weight: 700;
    color: #012970;
    white-space: nowrap;
    transition: 0.3s;
}

.navbar a i, .navbar a:focus i {
    font-size: 12px;
    line-height: 0;
    margin-left: 5px;
}

.nav a i, .navbar a:focus i {
    font-size: 12px;
    line-height: 0;
    margin-left: 5px;
}

.navbar a:hover, .navbar .avtive, .navbar .active:focus, .navbar li:hover > a {
    color: #4154f1;
}

.navbar .cv, .navbar .cv :focus {
    background-color: #4154f1;
    padding: 8px 20px;
    margin-left: 30px;
    border-radius: 4px;
    color: #fff;
}

.navbar .cv:hover, .navbar .cv:focus:hover{
    color: #fff;
    background: #4154f1;
}

.navbar .dropdown ul {
    display: block;
    position: absolute;
    left: 14px;
    top: calc(100% + 30px);
    margin: 0;
    padding: 10px 0;
    z-index: 99;
    opacity: 0;
    visibility: hidden;
    background-color: #fff;
    box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
    transition: 0.3s;
    border-radius: 4px;
}

.navbar .dropdown ul li {
    min-width: 200px;
}

.navbar .dropdown ul a {
    padding: 10px 20px;
    font-size: 15px;
    text-transform: none;
    font-weight: 600;
}

.navbar .dropdown ul a i{
    font-size: 12px;
}

.navbar .dropdown ul a:hover, .navbar .dropdown ul .active:hover, .navbar .dropdown ul li:hover > a{
    color: #4154f1;
}

.navbar .dropdown:hover > ul{
    opacity: 1;
    top: 100%;
    visibility: visible;
}

.navbar .dropdown .dropdown ul {
    top: 0;
    left: calc(100% -30px);
    visibility: hidden;
}

.navbar .dropdown .dropdown:hover > ul{
    opacity: 1;
    top: 0;
    left: 100%;
    visibility: visible;
}

@media (max-width: 1366px) {
    .navbar .dropdown .dropdown ul {
        left: -90%;
    }
    .navbar .dropdown .dropdown:hover > ul {
        left: -100%;
    }
}

.mobile-nav-toggle {
    color: #012970;
    font-size: 28px;
    cursor: pointer;
    display: none;
    line-height: 0;
    transition: 0.5s;
}
.mobile-nav-toggle.bi-x {
    color: #fff;
}

@media (max-width: 991px) {
    .mobile-nav-toggle {
        display: block;
    }
    #navbar{
        padding: 20px 0;
    }
    .navbar ul {
        display: none;
    }
}
@media (max-width: 768px) {
    #header #head-s{
        display: block;
        font-size: 30px;
        text-align: center;
        align-items: center;
        padding-top: 15px;
        padding-bottom: 15px;
    }
}
.navbar-mobile {
    position: fixed;
    overflow: hidden;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: rgba(1, 22, 61, 0.9);
    transition: 0.3s;
}
.navbar-mobile .mobile-nav-toggle {
    position: absolute;
    top: 15px;
    right: 15px;
}
.navbar-mobile ul {
    display: block;
    position: absolute;
    top: 15px;
    right: 15px;
    bottom: 15px;
    left: 15px;
    padding: 10px 0;
    border-radius: 10px;
    background-color: #fff;
    overflow-y:auto;
    transition: 0.3s;
}

.navbar-mobile a, .navbar-mobile a:focus{
    padding: 10px 20px;
    font-size: 15px;
    color:rgba(1, 22, 61, 0.9);
}

.navbar-mobile a:hover, .navbar-mobile .getstarted:focus {
    margin: 15px;
}

.navbar-mobile .dropdown ul{
    position: static;
    display: none;
    margin: 10px 20px;
    padding: 10px 0;
    z-index: 99;
    opacity: 1;
    visibility: visible;
    background: #fff;
    box-shadow:  0px 0px 30px #7f89a140;
}
.navbar-mobile .dropdown ul li{
    min-width: 200px;
}
.navbar-mobile .dropdoen ul a {
    padding: 10px 20px;
}
.navbar-mobile .dropdown ul a i{
    font-size: 12px;
}
.navbar-mobile .dropdown ul a:hover, .navbar-mobile .dropdown ul .active:hover, .navbar-mobile .dropdown ul li:hover > a {
    color:#4154f1;
}
.navbar-mobile .dropdown > .dropdown-active {
    display: block;
}
ul{
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

li{
    display: list-item;
    text-align: -webkit-match-parent;
}

/* hero section */
.hero{
    width: 100%;
    height: 100vh;
}
.hero h1{
    font-family:'Poiret One', cursive ;
    font-weight: bolder;
    margin: 0;
    text-align: center;
    font-size: 55px;
    font-weight: 1500;
    color:#012970;
    z-index:  90;
    display: flexbox;
}

.hero h3{
    color:#444444;
    text-align: center;
    margin: 15px 0 0 0;
    font-size: 26px;
    z-index:  50;
}
.hero .btn-knowmore {
    margin-top: 30px;
    line-height: 0;
    padding: 20px 40px;
    border-radius: 4px;
    transition:0.5s;
    color: #fff;
    background: #4154f1;
    box-shadow: 0px 5px 30px rgba(65, 84, 241,0.4);
    text-decoration: none;
    z-index:  50;
}

.hero .btn-knowmore span{
    font-family: 'Nanum Gothic', sans-serif;
    font-weight: 600;
    font-size: 16px;
    letter-spacing: 1px;
}

.hero .btn-get-knowmore:hover i {
    transform: translateX(5px);
    text-decoration: none;
}

@media (min-width:1024px) {
    .hero{
        background-attachment: fixed;
    }
}
@media (max-width: 991px) {
    .hero {
        height: auto;
        padding: 120px 0 60px 0;
    }
    .hero .hero-img{
        text-align: center;
        width: 80%;
    }
}

@media (max-width: 768px) {
    .hero{
        text-align: center;
    }
    .hero .container{
        padding-top: 25vh ;
    }
    .hero h1 {
        font-size: 32px;
    }
    .hero h3 {
        font-size: 24px;
    }
}
@media (max-width: 420px){
    #hero{
        padding-top: 200px;
    }

    #hero .container{
        height: fit-content;
        padding-top: 20vh ;
    }
}
/* HERO背景 */
#projector{
    position:absolute;
    z-index:-2;
}
/* HERO背景 */

/* about */
#about {
    width: 100%;
    display: block;
    min-height: 100vh;
    padding: 300px 0;
}

#about p{
    margin: 15px 0 30px 0;
    line-height: 24px;
}

#about p{
    text-align:justify;
    text-justify: inter-ideograph;
}
#about span{
    background-color: rgb(244, 255, 127);
    color:#4154f1;
    font-family: Arial, Helvetica, sans-serif;
}
#about .circle--portrait{
    height: 300px;
    width: 300px;
    vertical-align: middle;
}

@media (min-width:1024px) {
    .hero{
        background-attachment: fixed;
    }
}
@media (max-width: 991px) {
    .hero {
        height: fit-content;
        padding: 300px 0 60px 0;
    }
    .hero .hero-img{
        text-align: center;
        width: 80%;
    }
    #about .circle--portrait{
        margin-right: 30px;
    }
}

@media (max-width: 768px) {
    #about{
        text-align: center;
        padding: 100px 0 ;
        align-items: center;
    }
    #about .container{
        padding-top: 15vh ;
        padding-bottom: 0;
    }
    #about h1 {
        font-size: 32px;
    }
    #about p{
        line-height: 30px;
        padding: 0 30px;
    }
    #about h3 {
        font-size: 24px;
    }
    
    #about  .about-wrapper_image {
        height: 250px;
        width:250px ;
        margin-bottom: 30px;
        align-items:baseline;
    }
}
@media (max-width: 420px){
    #about{
        text-align: center;
        padding: 100px 0 ;
        align-items: center;
    }
    #about .container{
        padding-top: 15vh ;
        padding-bottom: 0;
    }
    #about .circle--portrait{
        display: block;
        padding: 0px 15px 0 29px;
        margin: 30px 0;
    }
}
/* gallery */
#gallery{
    width: 100%;
    display: block;
    min-height: 100vh;
    padding: 100px 0;
 }

.gallery-item-inner .ovrly {
    background:#4153f185;
    height: 90%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    opacity: 0;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}
.gallery-item-inner .fa fa-link img{
    position: absolute;
    height: 2px;
    width: 2px;

}
.gallery-item-inner .o-btn {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.gallery-item-inner .o-btn .fa {
    background-color: rgb(256, 256, 256);
    -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 0 1px rgba(0, 0, 0, 0.3);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.3);
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    display: inline-block;
    line-height: 40px;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    width: 40px;
    height: 40px;
    opacity: 0;
    position: relative;
    -webkit-transition: all 0.3s, color 0.1s 0.3s;
    -moz-transition: all 0.3s, color 0.1s 0.3s;
    -o-transition: all 0.3s, color 0.1s 0.3s;
    transition: all 0.3s, color 0.1s 0.3s;
    color: transparent;
}
.gallery-item-inner .o-btn .fa-link {
    left: -10px;
}
.gallery-item-inner .o-btn .fa-search {
    left: 10px;
}
.gallery-item-inner:hover .o-btn .fa {
    opacity: 1;
    left: 0;
    color: rgba(50, 50, 50, 0.9);
}
.gallery-item-inner:hover .ovrly {
    opacity: 1;
}
 #gallery .gallery-filter{
    padding: 0 15px;
    width: 100%;
    text-align: center;
    margin-bottom: 40px;
 }
 #gallery .gallery-filter .filter-item{
    color: #4154f1;
    font-size: 17px;
    border: 2px solid #4154f1;
    text-transform: uppercase;
    display: inline-block;
    border-radius: 20px;
    margin-right: 8px;
    cursor: pointer;
    padding: 8px 20px 8px 20px;
    line-height: 1.2;
    transition: all 0.3s ease;
 }

 #gallery .gallery-filter .filter-item.active{
    color: white;
    border-color : #4154f1;
    background: #4154f1;
  }
#gallery .gallery-item{
	width: calc(100% / 3);
	padding: 15px;

}
#gallery .gallery-item-inner img{
	width: 100%;
}

#gallery .gallery-item.show{
	animation: fadeIn 0.5s ease;
}
@keyframes fadeIn{
	0%{
		opacity: 0;
	}
	100%{
		opacity: 1;
	}
}
#gallery .gallery-item.hide{
	display: none;
}
@media(max-width: 491px){
	#gallery .gallery-item{
		width: 50%;
	}
}
@media(max-width: 667px){
    #gallery .gallery-item{
		width: 100%;
	}
	#gallery .gallery-filter .filter-item{
		margin-bottom: 10px;
        margin-right: 4px;
        padding: 4px 18px 4px 18px;
        font-size: 15px;
	}
}
/* Resume */
#resume {
    width: 100%;
    display: block;
    min-height: 100vh;
    padding-top: 200px;
    padding-bottom: 0;
}
h2{
    display: block;
}

.section-title h2 {
    display: block;
    text-align: center;
    margin: 20px 0 50px 0;
    padding-bottom: 30px;
    position: relative;
    color: #4154f1;
}
.section-title h2::before{
    content: "";
    position: absolute;
    display: block;
    text-align: center;
    width: 100px;
    height: 1px;
    background: #ddd;
    bottom: 1px;
    margin-bottom: 20px;
    left: calc(50% - 50px);
}
.section-title h2::after{
    content:"";
    position:absolute;
    display: block;
    width: 40px;
    height: 3px;
    background: #012970;
    bottom: 0;
    margin-bottom: 20px;
    left: calc(50% - 20px);
}

#rs-12 .resume-items {
    padding:0 0 20px 20px ;
    margin-top: -2px;
    border-left: 2px solid #012970;
    position: relative;
}
#rs-12 .resume-items::before{
    content: "";
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 50px;
    left:-9px;
    top:2;
    background: #fff;
    border: 2px solid #012970;
}
#rs-12 .resume-items-1{
    padding:0 0 35px 20px ;
    margin-top: -2px;
    border-left: 2px solid #012970;
    position: relative;
}

#rs-12 .resume-items-1::before{
    content: "";
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 50px;
    left:-9px;
    top:2;
    background: #fff;
    border: 2px solid #012970;
}

#resume #res-last-1{
    padding: 0 20px 35px 20px;
}



#resume #res-last {
    padding: 0 0 0 20px;
}


#resume-title{
    margin-bottom: 20px;
    margin-top: 20px;
}

#tit-name {
    font-size: 20px;
    display: flexbox;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #012970;
}
#rs-12 h6{
    font-size: 16px;
    background: #4154f1;
    color:#fff;
    padding: 5px 15px;
    font-weight: 600;
    margin-bottom: 5px;
    margin-left: 25px;
    display: inline-block;
}

#rs-12 p{
    border-left:4px solid #4154f1;
    padding-left: 5px;
    margin-top: 10px;
    margin-bottom: 5px;
    display: inline-block;
}

.re-work ul{
    margin-top: 16px;
    list-style-type: none;
    padding-left: 0;
}
#ex-ul{
    list-style-type: none;
    padding-left: 0;
}

.resume .reusme-items ::before{
    content: "";
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 50px;
    left: -9px;
    top: 0;
    background: #fff;
    border: 3px solid #012970;
}


#resume i{
    color: #808080;
    font-family:'Merriweather', serif;
    margin-bottom: 30px;
    letter-spacing:normal; 
}

@media (min-width:1024px) {
    #resume{
        background-attachment: fixed;
    }
}
@media (max-width: 991px) {
    #resume {
        height: auto;
        padding: 120px 0 60px 0;
    }

}
@media (max-width: 768px) {
    #rs-12{
        padding-bottom: 20px;
    }
    #rs-12 h6{
       float: right;
       font-size: 14px;
    }
    #rs-12 li{
        font-size: 14px;
    }
    #tit-name{
        font-size: 18px;
    }
    #rs-12 p {
        margin-bottom: 3px;
    }
    #resume i{
        display: inline-block;
        margin-bottom: 0px;
    }
}
@media (max-width: 410px){
    #resume {
        height: auto;
        padding: 120px 0 0 0;
    }
    #rs-12{
        padding: 10px 30px 0 30px;
    }

    #rs-12 h6 {
        padding: 5px 7px;
        font-size: 13px;
        margin-bottom: 5px;
        margin-left:0 ;
    }
}
/* contact */

.contact .php-email-form .form-group{
    padding-bottom: 8px;
}
.notice-3 {
    margin-top:1rem!important ;
}

#contact{
    padding: 100px 0;
}


#sub-b{
    background: #4154f1;
    border: 0;
    padding: 10px 35px;
    color:#fff;
    transition: 0.4s;
    border-radius: 50px;
}

   
#contact .content-items i {
    font-size: 20px;
    float: left;
    width: 44px;
    height: 44px;
    background: #ddd;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    transition: all 0.3s ease-in-out;
    margin-right: 20px;
}

#contact img{
    color: #012970;
}

#contact img ::before{
    display: inline-block;
    content: "";
}
#contact.content-items i:hover{
    background:#012970;
    color: #ddd;
}

@media (max-width: 768px) {
    #contact{
        text-align: center;
    }
    #contact h4 {
        font-size: 25px;
        color: #808080;
        display: flex-block;
        text-align: center;
    }
    #contact.col-lg-4 aos-init aos-animate {
        align-items: center;
    }
}
@media (max-width: 410px){
    #contact .container{
        padding: 0 30px;
    }
}


/* footer */

#footer{
    background-color: #4154f1;
    font-size: 14px;
    text-align: center;
}

#footer span{
    font-size: 25px;
    font-family:'Poiret One', cursive;
    color: #fff;
}
#footer img{
    height: 20px;
    margin: 10px 2px;
}
.copyright{
    color:#012970;
}

.back-to-top.active{
    visibility: visible;
    opacity: 1;
}

#ba-top {
    position: fixed;
    right: 15px;
    bottom: 15px;
    z-index: 99999;
    background-color: #4154f1;
    color:#fff;
    text-decoration:none;
    width: 40px;
    height: 40px;
    border-radius: 50px;
    transition: all 0.4s;
}

#ba-top :hover {
    color:rgb(246, 250, 0);
    text-decoration: none;
}
